* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #161B33;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    color: cyan;
}

nav>h1 {
    font-size: 38px;
}

nav>ol {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}

nav>button {
    padding: 10px;
    border-radius: 10%;
    background-color: palevioletred;
}