* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #161b33;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

::-webkit-scrollbar {
    display: none;
}

nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    color: cyan;
    box-shadow: 0 0 10px cyan;
}

nav>h1 {
    font-size: 38px;
}

nav>ol {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}

nav>ol>li:hover {
    cursor: pointer;
}

nav>button {
    padding: 10px;
    gap: 10px;
    border-radius: 10%;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.main {
    width: 100vw;
    height: 600px;
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 40px;
    gap: 20px;
}

.main>.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main>.left>img {
    border-radius: 50%;
    box-shadow: 0 0 20px cyan;
}

.main>.right {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    color: white;
}

.main>.right>h4 {
    font-size: 22px;
}

.main>.right>h1 {
    font-size: 2.5rem;
}

.main>.right>h2 {
    font-size: 25px;
}

.main>.right span {
    color: cyan;
}

.main>.right>p {
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    word-spacing: 1.2px;
    font-size: 16px;
    text-indent: 20px;
    text-align: justify;
}

.btn-Link {
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#in {
    padding: 5px;
    border-radius: 6px;
    border: none;
    background-color: cyan;
    color: #161b33;
    font-weight: bold;
}

#fb {
    padding: 5px;
    border-radius: 6px;
    border: none;
    background-color: cyan;
    color: #161b33;
    font-weight: bold;
}

#ig {
    padding: 5px;
    border-radius: 6px;
    border: none;
    background-color: cyan;
    color: #161b33;
    font-weight: bold;
}

#gh {
    padding: 5px;
    border-radius: 6px;
    border: none;
    background-color: cyan;
    color: #161b33;
    font-weight: bold;
}

.btn-hr {
    display: flex;
    gap: 10px;
}

#hme {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #161b33;
    background-color: cyan;
    font-weight: bold;
}

#cme {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    border: 2px solid cyan;
    background-color: #161b33;
    color: cyan;
    font-weight: bold;
}


.main2 {
    height: 300px;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-content: center;
    margin-top: 30px;
    text-align: center;
    border: 1px solid cyan;
}

.box1 {
    border: 1px solid cyan;
}

.box2 {
    border: 1px solid cyan;
}

.box3 {
    border: 1px solid cyan;
}

.box4 {
    border: 1px solid cyan;
}